*.h5
*.db
*.parquet
**/*markup*
**/*OLD*
**/venv*
**/__pycache__*
**/*MC*
**/experiments*
**/*ipynb*
plans.md
notes.md
*Встреча*
.vscode
nohup.out

!data/create_config.ipynb
!data/usage_example.ipynb
!nnetworks/models/create_model_cfg.ipynb
!munusep_all_inference.ipynb